Operators in Python

In [ ]:
# Arithemtric Oprerators
print(5+7)
print(5-7)
print(5*7)
print(5/2)
print(5//2)
print(5%2)
print(5**2)

12
-2
35
2.5
2
1
25

In [ ]:
# Relational Operators
print(4>5)
print(4<5)
print(4>=5)
print(4<=4)
print(4==5)
print(4!=5)

False
True
False
True
False
True

In [ ]:
# Logical Operators true(1),false(0)
print(1 and 0)
print(1 or 0)
print(not 1)

0
1
False

In [ ]:
# Botwise operators
# Botwise or
print(2 & 3)
# Botwise or
print(2 | 3)
# Botwise xor
print(2 ^ 3)
# Botwise nor
print(~3)
# Botwise left
print(4>>2)
# Botwise right
print(4<<2)

2
3
1
-4
1
16

In [ ]:
# Assignment Operators a = a+2
a = 2
a += 2
print(a)
a -= 2
print(a)
a *= 2
print(a)
a /= 2
print(a)
a %= 2
print(a)

4
2
4
2.0
0.0

In [ ]:
# Membership Operators
print('D' in "Delhi")
print('D' not in "Delhi")
print(1 not in [2,3,4,5,6])

True
False
True

In [ ]:
# program - Find the sum of 3 digit number by the useser
a = int(input('Enter 3 digit number : '))

number = a % 10 #123%10 = 3
b = a//10 #123//10 = 12
temp = b % 10 #12%10 = 2
c = b // 10 #12//10 = 1

print('sum =',c+temp+number)

Enter 3 digit number : 123
sum = 6

If-else-elif in python

In [ ]:
email = input("Enter email : ")
password = input("Enter password : ")

if email == 'saurav@gmail.com' and password == '1234':
  print("Wellcome")
elif email == 'saurav@gmail.com':
  print("Right email")
elif password == '1234':
  print('Right password')
else:
  print('Worng email and password')

Enter email : sarkarsaurav100
Enter password : 12345
Worng email and password

In [ ]:
email = input("Enter email : ")
password = input("Enter password : ")

if email == 'saurav@gmail.com' and password == '1234':
  print("Wellcome")
elif email == 'saurav@gmail.com' and password != '1234':
  print("Right email but worng password")
  password = input("Enter password : ")
  if password == '1234':
    print('Wellcome finally')
  else:
    print('Again fall')
else:
  print('Worng email and password')

Enter email : sar
Enter password : 12345
Worng email and password

In [ ]:
# min of 3 number
a = int(input('First number : '))
b = int(input('Second number : '))
c = int(input('Third number : '))

if a < b and a < c:
  print('Smaller is',a)
elif b<c:
  print('smaller is',b)
else:
  print('smaller is',c)

First number : 2
Second number : 3
Third number : 2
smaller is 2

In [ ]:
# munu driven calcutor
fnum = int(input('Enter the 1st number : '))
lnum = int(input('Enter the 2nd number : '))

op = input('Enter the opration : ')

if op == '+':
  print(fnum + lnum)
elif op == '-':
  print(fnum - lnum)
elif op == '*':
  print(fnum * lnum)
elif op == '/':
  print(fnum / lnum)
else:
  print('Worng opration')

Enter the 1st number : 23
Enter the 2nd number : 56
Enter the opration : -
-33

Modules in Python

In [ ]:
# math
import math
math.factorial(5)
math.floor(6.8)
math.sqrt(123)

11.090536506409418

In [ ]:
# keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# random
import random
print(random.randint(1,10))

4

In [ ]:
# datatime
import datetime
print(datetime.datetime.now())

2023-12-24 13:37:58.278712

In [ ]:
# help
help('for')

The "for" statement
*******************

The "for" statement is used to iterate over the elements of a sequence
(such as a string, tuple or list) or other iterable object:

   for_stmt ::= "for" target_list "in" expression_list ":" suite
                ["else" ":" suite]

The expression list is evaluated once; it should yield an iterable
object.  An iterator is created for the result of the
"expression_list".  The suite is then executed once for each item
provided by the iterator, in the order returned by the iterator.  Each
item in turn is assigned to the target list using the standard rules
for assignments (see Assignment statements), and then the suite is
executed.  When the items are exhausted (which is immediately when the
sequence is empty or an iterator raises a "StopIteration" exception),
the suite in the "else" clause, if present, is executed, and the loop
terminates.

A "break" statement executed in the first suite terminates the loop
without executing the "else" clause’s suite.  A "continue" statement
executed in the first suite skips the rest of the suite and continues
with the next item, or with the "else" clause if there is no next
item.

The for-loop makes assignments to the variables in the target list.
This overwrites all previous assignments to those variables including
those made in the suite of the for-loop:

   for i in range(10):
       print(i)
       i = 5             # this will not affect the for-loop
                         # because i will be overwritten with the next
                         # index in the range

Names in the target list are not deleted when the loop is finished,
but if the sequence is empty, they will not have been assigned to at
all by the loop.  Hint: the built-in type "range()" represents
immutable arithmetic sequences of integers. For instance, iterating
"range(3)" successively yields 0, 1, and then 2.

Related help topics: break, continue, while

Loop in Python

In [ ]:
# while loop with else
x = int(input("Enter number : "))
i = 1
while i <= 10:
  print(i * x)
  i += 1

Enter number : 12
12
24
36
48
60
72
84
96
108
120

In [ ]:
x = 1
while x <= 3:
  print(x)
  x+=1
else:
  print('limt crossed')

1
2
3
limt crossed

In [ ]:
# Guesssing Game
import random
jackpot = random.randint(1,10)

guess = int(input("guss koro : "))
count = 1
while guess != jackpot:
  if guess < jackpot:
    print("Guess higher")
  else:
    print('guess lower')
  guess = int(input("guss koro : "))
  count += 1
else:
  print('Correct guess')
  print('attemps',count)

guss koro : 2
Guess higher
guss koro : 5
Correct guess
attemps 2

In [ ]:
# for loop demo
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in "Bangladesh":
  print(i)

B
a
n
g
l
a
d
e
s
h

In [ ]:
# for loop example
current_pop = 10000
for i in range(10,0,-1):
  print(i,current_pop)
  current_pop = current_pop / 1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

# Sequence sum

In [ ]:
n = int(input("Enter n : "))

result = 0
fact = 1
for i in range(1,n+1):
  fact *= i
  result += i/fact
print(result)

Enter n : 5
2.708333333333333

# Nested Loop

In [ ]:
for i in range(1,4):
  for j in range(1,3):
    print(i,j)

1 1
1 2
2 1
2 2
3 1
3 2

In [ ]:
n = int(input("Number of rows : "))
for i in range(n):
  for j in range(i):
    print("*",end='')
  print()

Number of rows : 5

*
**
***
****

In [ ]:
n = int(input("Enter of row : "))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')
  print()

Enter of row : 10
1
121
12321
1234321
123454321
12345654321
1234567654321
123456787654321
12345678987654321
12345678910987654321

Loop control Statement

In [ ]:
# Break
for i in range(1,10):
  if i == 5:
    break
  print(i)

1
2
3
4

In [ ]:
lower = int(input("Lower"))
upper = int(input("Upper"))

for i in range(lower,upper+1):
  for j in range(2,i):
    if i%j == 0:
      break
  else:
    print(i)

Lower10
Upper100
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
# Continue
for i in range(1,10):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9

In [ ]:
# pass
for i in range(1,10):
  pass