### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [ ]:
def list1(n):
  l = []
  for i in n:
    l.append(i)
  l = set(l)
  return list(l)

l=[1,2,3,3,3,3,4,5]
print(list1(l))

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [ ]:
# Write code here
def sort_str(n):
  n = n.split('-')
  return "-".join(sorted(n))

a = 'green-red-yellow-black-white'
print(sort_str(a))

black-green-red-white-yellow

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
# Write code here
def upper_lower(n):
  Upper = 0
  Lower = 0
  for i in n:
    if i.isupper():
      Upper += 1
    elif i.islower():
      Lower += 1
  print(f"No. of Upper case characters : {Upper}")
  print(f"No. of Lower case Characters : {Lower}")

s = 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
upper_lower(s)

No. of Upper case characters : 9
No. of Lower case Characters : 47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [ ]:
# Write code here
def even(n):
  l = []
  for i in range(len(n)):
    if n[i] % 2 == 0:
      l.append(n[i])
  return l

l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(even(l))

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [ ]:
# Write code here
def perfect_number(n):
  if n <= 0:
    return False
  l = []
  for i in range(1,n):
    if n % i == 0:
      l.append(i)
  sums = sum(l)
  return n == sums
number = 7
if perfect_number(number):
  print(f"{number} is a perfect number.")
else:
  print(f"{number} is not a perfect number.")

7 is not a perfect number.

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [ ]:
# Write code here
def dic(*n):
  dic = {}
  for i in n:
    dic.update(i)
  return dic
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
x = dic(dic1,dic2,dic3)
print(x)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [ ]:
# Write code here
def most_world(n):
  world = n.split()
  x = max(world)
  count = 0
  for i in world:
    if i == x:
      count += 1
  return f'{x} -> {count}'
a = 'hello how are you i am fine thank you'
x = most_world(a)
print(x)

you -> 2

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [ ]:
# Write code here
def histogram(n):
  bin = {}
  for i in n:
    bin_number = (i//10)*10+1
    if bin_number not in bin:
      bin[bin_number] = 0
    bin[bin_number] += 1
  for bin_number,count in bin.items():
     print(f"{bin_number}-{bin_number+9}: {count}")

x = [13,42,15,37,22,39,41,50]
histogram(x)

11-20: 2
41-50: 2
31-40: 2
21-30: 1
51-60: 1

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [ ]:
# Write code here

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [ ]:
# Write code here

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [ ]:
# Write code here
num1 = [1,2,3]
num2 = [4,5,6]
num3 = [7,8,9]
x = list(map(lambda x,y,z: x+y+z,num1,num2,num3))
print(x)

[12, 15, 18]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [ ]:
# Write code here
def power_of_base(number, exponent):
  if number != 6:
    return number ** exponent
  else:
    return "-"

list1 = [1, 2, 3, 4, 5, 6]
result_list = list(map(power_of_base, list1, range(len(list1))))
print(result_list)

[1, 2, 9, 64, 625, '-']

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [ ]:
# Write code here
string = input("Enter your string : ")
v = 'aeiou'
a = list(filter(lambda x: x.lower() in v,string))
print(f"The vowels in the string '{string}' are: {a}")

Enter your string : hello world
The vowels in the string 'hello world' are: ['e', 'o', 'o']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [7]:
# Write code here
two_d_list = [[1, 2], [3, 4], [5, 6]]
l = []
for i in two_d_list:
  l.extend(i)
print('The flattened 1D list : ',l)

The flattened 1D list :  [1, 2, 3, 4, 5, 6]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [8]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

x = list(map(lambda x:x['fname']+' '+x['lname'],list(filter(lambda x: True if x['grade'] == 'highly-skilled' else False,employees ))))
print(x)

['Neha Singh', 'Abhinav Sharma']

In [ ]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']