# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [1]:
# Write your code here
print("Data","Science","Mentorship","Program",sep='-',end='-')
print("By","CampusX",sep='-')

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

---



---

In [4]:
# Write your code here
celsius = float(input("Enter celsius value : "))
fahrenheit = (9/5 * celsius) + 32
print('fahrenheit value :',fahrenheit)

Enter celsius value : 45
fahrenheit value : 113.0

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [5]:
# Write your code here
a = int(input("Enter first number : "))
b = int(input("Enter second number : "))
tem = a
a = b
b = tem
print(f"first number {a}")
print(f"second number {b}")

Enter first number : 20
Enter second number : 30
first number 30
second number 20

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [16]:
# Write your code here
x1 = float(input('Enter x-coordinate of the first point : '))
y1 = float(input('Enter y-coordinate of the first point : '))
x2 = float(input('Enter x-coordinate of the second point : '))
y2 = float(input('Enter y-coordinate of the second point : '))
import math
destan = (((x2 - x1)**2) + (y2 - y1)**2)**(1/2)
print(f"{destan:.2f}")

Enter x-coordinate of the first point : 10
Enter y-coordinate of the first point : 20
Enter x-coordinate of the second point : 30
Enter y-coordinate of the second point : 40
28.28

222### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [19]:
# Write your code here
p = float(input("Enter principle :"))
i = float(input("Enter interest :"))
t = float(input("Enter time period :"))
sl = p*i*t
print(sl)

Enter principle :10
Enter interest :20
Enter time period :23
4600.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [35]:
# Write your code here
total_head = int(input("Enter total head : "))
total_lag = int(input("Enter total lag : "))
dogx = (4 * total_head)
dog = abs((dogx - total_lag))//2

chicinx = (2 * total_head)
chicken = abs((chicinx - total_lag))//2

print(f"Number of Dog = {dog}\nNumber of Chicken = {chicken}")

Enter total head : 4
Enter total lag : 12
Number of Dog = 2
Number of Chicken = 2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [39]:
# Write your code here
a = int(input("Enter first number : "))
b = int(input("Enter second number : "))

x = (a+b)**2 - (a*b)*2
print(x)

Enter first number : 4
Enter second number : 10
116

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [40]:
# Write your code here
first_term = int(input("Enter the first term of the series: "))
second_term = int(input("Enter the second term of the series: "))
n = int(input("Enter the number of the term you want to find: "))

nth_term = first_term + (n - 1) * (second_term - first_term)

print("The nth term of the series is:", nth_term)

Enter the first term of the series: 1
Enter the second term of the series: 3
Enter the number of the term you want to find: 5
The nth term of the series is: 9

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [43]:
# Write your code here
h =int(input("Enter hight : "))
l =int(input("Enter width : "))
b =int(input("Enter breadth : "))
v = (h*l*b)
g = 3.14159*(1**2)*3
x = v/g
print(f"{x:.2f}")

Enter hight : 20
Enter width : 20
Enter breadth : 20
848.83